{% extends "layouts/base.html" %}

{% block title %} {{ block.super }} | Create {% endblock title %}

{% block content %}
    <h1>This is a Form</h1>

    <form method="POST" action="/imagej/create/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Analyse">
    </form>

{% endblock content %}