{% extends "layouts/base.html" %}

{% block title %} {{ block.super }} | Index {% endblock title %}

{% block content %}
  <div class="row">

    {% for image in images %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{{ image.image.url }}"
               alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><a href="{% url 'imagej:show' id=image.id %}">{{ image.title }}</a></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}