{% extends "layouts/base.html" %}

{% block title %} {{ block.super }} | Detail {% endblock title %}

{% block content %}
  <h1>Detail of image:</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="{{ instance.image.url }}"
             alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><a href="{% url 'imagej:show' id=instance.id %}">{{ instance.title }}</a></p>
        </div>
      </div>
      <a href="{% url 'imagej:index' %}">Back</a>
    </div>

    <div class="col-md-8">
      <div class="card mb-4 shadow-sm">
        <div id="highchart"></div>
      </div>
    </div>
  </div>


  <script>
    $(document).ready(function () {
      Highcharts.chart('highchart', {
        chart: {
          type: 'area',
          zoomType: 'x',
          panning: true,
          panKey: 'shift',
          scrollablePlotArea: {
            minWidth: 600
          }
        },

        title: {
          text: 'Image Plot Profile'
        },

        xAxis: {
          labels: {
            format: '{value}'
          },
          title: {
            text: 'Distance (Pixels)'
          }
        },

        yAxis: {
          startOnTick: true,
          endOnTick: false,
          maxPadding: 0.35,
          title: {
            text: 'Gray Value'
          },
          labels: {
            format: '{value}'
          }
        },

        tooltip: {
          headerFormat: 'Distance: {point.x:.1f}<br>',
          pointFormat: '{point.y}',
          shared: true
        },

        legend: {
          enabled: false
        },

        series: [{
          data: {{ data }},
          lineColor: Highcharts.getOptions().colors[1],
          color: Highcharts.getOptions().colors[2],
          fillOpacity: 0.5,
          name: 'Elevation',
          marker: {
            enabled: false
          },
          threshold: null
        }]
      });
    })
  </script>

{% endblock content %}