<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8"/>
  <title>{% block title %} Correllbio {% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
  <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/highcharts.src.js' %}"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  {# Custom css files #}
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>

{% include "layouts/header.html" %}
<main role="main">
  {% include "layouts/section_header.html" %}
  <div class="album py-5 bg-light">
    <div class="container">
      {% block content %}

      {% endblock content %}
    </div>
  </div>

</main>
</body>
</html>